// @import './variable';

//Question1
// .footer {
//   padding: 70px 0;

//   @mixin btn($color) { // 引数を$colorにする
//     display: block;
//     padding: 20px 30px;
//     color: #fff;
//     border-radius: 6px;
//     cursor: pointer;
//     background-color: $color; // 値に引数を設置
//     text: {
//       decoration: none;
//       align: center;
//     }
//   }

//   &__sns {
//     &__btn {
//       &.is-facebook {
//         @include btn(#4668b3);
//       }
//       &.is-google {
//         @include btn(#de5745);
//       }
//       &.is-twitter {
//         @include btn(#2fbbed);
//       }
//       &.is-pinterest {
//         @include btn(#d94348);
//       }
//       &.is-behance {
//         @include btn(#3079ff);
//       }
//       &.is-dribbble {
//         @include btn(#eb6397);
//       }
//     }
//     &__list {
//       display: flex;
//       justify-content: space-between;
//       flex-wrap: wrap;

//       & > li {
//         width: 32%;

//         &:nth-child(n+4) {
//           margin-top: 20px;
//         }
//       }
//     }
//   }
// }

//question2

.footer {
  padding: 70px 0;

  @mixin btn($color) {
    display: block;
    padding: 20px 30px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    background-color: $color;
    text: {
      decoration: none;
      align: center;
    }
  }

  &__sns {
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > li {
        width: 32%;
        &:nth-child(n+4){
          margin-top: 20px;
        }
      }
    }
    &__btn {

      $snsName: facebook, google, twitter, pinterest, behance, dribbble;
      $snsColor: #4668b3, #de5745, #2fbbed, #d94348, #3079ff, #eb6397;

      @each $sns in $snsName {
        $index_key: index($snsName, $sns);

        //@debug $index_key;
        &.is-#{$sns}{
          @include btn(nth($snsColor, $index_key));
          //@debug nth($snsColor, $index_key);
        }
      }
    }
  }
}

// question3

// .footer {
//   padding: 70px 0;

//   @mixin btn($color) {
//     display: block;
//     padding: 20px 30px;
//     color: #fff;
//     border-radius: 6px;
//     cursor: pointer;
//     background-color: $color;
//     text: {
//       decoration: none;
//       align: center;
//     }
//   }

//   &__sns {
//     &__list {
//       display: flex;
//       justify-content: space-between;
//       flex-wrap: wrap;

//       & > li {
//         width: 32%;

//         &:nth-child(n+4){
//           margin-top: 20px;
//         }
//       }
//     }

//     $map: (
//       twitter: #2fbbed,
//       facebook: #4668b3,
//       google: #de5745,
//       pinterest: #d94348,
//       behance: #3079ff,
//       dribbble: #eb6397,
//     );

//     &__btn {
//       @each $class, $color in $map {
//         &.is-#{$class} {
//           @include btn($color);
//           //@include btn(color: map-get($map, $class));
//         }
//       }
//     }
//   }
// }